{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table class="table table-striped" style="text-align:left;">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>
        {% for row in history %}
            {% if row['shares'] != 0 %}
                <tr>
                    <td>{{ row['type'] }}</td>
                    <td>{{ row['symbol'] }} </td>
                    <td>{{ row['shares_moved'] }}</td>
                    <td>{{ row['t_price'] }}</td>
                    <td>{{ row['t_time'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
